.main {
  width: 100%;
}
body {
  background-color: rgb(36, 36, 36);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  color: rgb(235, 235, 235);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
#navText {
  font-size: clamp(24px 4vw 42px);
  margin-left: 10px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 30px;
  color: white;
}
#reactText {
  margin-right: 10px;
  margin-left: auto;
}
.navbar {
  position: static !important;
  width: 100%;
  background-color: rgb(30, 30, 30);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  top: 0;
  left: 0;
}

.Btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
.btn {
  flex: 1 1 auto;
  min-width: 40px;
  max-width: 120px;
  min-height: 30px;
  font-size: clamp(12px, 1.5vw, 16px);
  white-space: nowrap;
  text-align: center;
  white-space: nowrap;
  border-radius: 10px;
  background-color: rgba(239, 195, 0, 0.826);
  border: 2px solid black;
  border: 2px solid black;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  padding-left: 0.3%;
  padding-right: 0.3%;
  padding: 0.8rem 2 rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  margin-right: 1rem;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
  background-color: rgba(255, 208, 0, 0.786);
  color: rgb(0, 0, 0);
}

.LogoMain {
  display: flex;

  flex-direction: row;
}

.bgmain {
  position: relative;
  height: 80vh;
  width: 100%;
  background-image: url("PanovPhoto/Снимок экрана 2025-11-16 212359.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bgoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 1;
}

.MainText {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 128px;
  font-weight: 900;
  padding: 0 20px;
  font-size: clamp(40px, 4vw, 100px);
  font-weight: bold;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.MainP {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 128px;
  font-weight: 900;
  padding: 0 20px;
  font-size: clamp(16px, 4vw, 40px);
  font-weight: bold;
}
.photoContainer {
  display: flex;
  gap: 5%;
  margin-top: 5%;
  justify-content: center;

  border-radius: 40px;
}
.photoSchool {
  width: 20%;
  height: auto;
  transition: all 0.4s;
  border-radius: 20px;
  background-color: rgb(53, 71, 170);

  border-style: solid;
  border-color: rgb(53, 71, 170);
  border-width: clamp(7.5px, 0.5vw, 15px);
}
.photoSchool:hover {
  transform: scale(1.1);
  height: auto;
}
.TextSchool {
  margin-top: 5%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 128px;
  font-weight: 900;
  padding: 0 20px;
  font-size: clamp(16px, 4vw, 40px);
  width: 80%;
  background-color: rgba(239, 195, 0, 0.826);
  border-radius: 30px;
}
.SchoolBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.SportBlock {
  display: flex;
  gap: 5%;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.SportBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Блок с фоном */
.SportPhoto {
  position: relative; /* ВАЖНО!!! Без этого absolute ломается */
  width: 100%;
  height: 60vh;
  background-image: url("PanovPhoto/image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* затемняющий слой */
.SportOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  z-index: 1;
}

/* текст */
.TextSchool {
  color: rgb(235, 235, 235);
  padding: 20px;
  width: 80%;

  border-radius: 30px;
  font-size: clamp(16px, 4vw, 40px);
  text-align: center;
  z-index: 2;
  border: 5px, solid, white;
}

.FinishPhoto {
  width: 70%;
  border-radius: 40px;
  transition: 0.4s;
}

.FinishPageText {
  width: 80%;
  padding: 20px;
  background-color: rgb(69, 69, 69);
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: clamp(16px, 4vw, 40px);
  border: 5px, solid, white;
}

.FinishPageText {
  margin-top: 5%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 128px;
  font-weight: 900;
  padding: 0 20px;
  font-size: clamp(16px, 4vw, 40px);
  width: 80%;
  background-color: rgb(53, 71, 170);
  border-radius: 30px;
  padding: 20px;
  border: 5px, solid, white;
}
.FinishPhoto {
  width: 70%;
  height: auto;
  transition: all 0.6s;
  border-radius: 40px;
  margin-top: 5%;
}

.BottomText {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 128px;
  font-weight: 900;
  padding: 40px;
  font-size: clamp(16px, 4vw, 40px);
  background-color: rgba(255, 208, 0, 0.826);
  border-radius: 30px;
  border: 5px, solid, white;
}
.BottomPage {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
}
.BottomPhoto {
  width: 100%;
  height: auto;
  border-radius: 25px;
}
.AboutUsPhoto {
  width: 70%;
  height: auto;
  border-radius: 20px;
  border: 5px, solid, white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AboutUsPhotoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}
.PhotoAUInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.AUText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(193, 193, 193);
  background-color: rgb(14, 14, 14);
  font-size: clamp(8px, 4vw, 40px);
  padding: 10px;
  border-radius: 20px;
  border: 5px, solid, white;
}

.status {
  font-size: clamp(6px, 4vw, 25px);
}
.TextDescription {
  font-size: clamp(8px, 4vw, 25px);
  margin: 10px;
}
.TextDescriptionElement {
  background-color: rgb(14, 14, 14);
  border-radius: 20px;
  padding: 10px;
  border: 5px, solid, white;
}
.TextDescriptionElementStatus {
  background-color: rgb(53, 71, 170);
  border-radius: 20px;
  padding: 10px;
  border: 5px, solid, white;
}
.EventsText {
  background-color: rgb(53, 71, 170);
  border-radius: 20px;
  padding: 10px;
  border: 5px, solid, white;
  margin: 20px;
  font-size: clamp(8px, 4vw, 25px);
}
.EventPhoto {
  width: 40%;
  height: auto;
  border-radius: 50px;
  border: 5px, solid, white;
}
.EventPhotoCont {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;
}
.EventPhotoCont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 30px;
}
.ContactsText {
  background-color: rgb(53, 71, 170);
  border-radius: 20px;
  padding: 10px;
  border: 5px, solid, white;
  margin: 20px;
  font-size: clamp(8px, 4vw, 25px);
}
a {
  color: white;
  font-size: clamp(10px, 4vw, 27px);
}
